<h1>Your Cart</h1>
<% if @cart_items.present? %>
  <ul>
    <% @cart_items.each do |product_code, item| %>
      <li>
        <%= item[:product].name %> - $<%= item[:product].price %> x <%= item[:quantity] %>
        <%= button_to 'Remove', remove_product_cart_path(product_id: item[:product].id), method: :delete %>
      </li>
    <% end %>
  </ul>
  <p>Total Price: $<%= @total_price %></p>
  <%= button_to 'Checkout', checkout_cart_path, method: :post %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
